* {
  font-family: Roboto;
  font-size: 24px;
}

:root {
  --primary-color: #121830;
  --secundary-color: #0E2046;
}

body {
  background-color: var(--primary-color);
  overflow: hidden;
}
.main {
  display: flex;
  align-items: center;
  height: 100vh; /* or set a specific height */
  width: 100vw;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  gap: 80px;
}

.foto_container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, var(--primary-color) , var(--secundary-color));
  gap: 20px;
  width: fit-content;
  height: fit-content;
  padding-inline: 30px;
  border-radius: 14px;
  flex-wrap: wrap;
  align-items: center;
}

.ferramentas_container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, var(--primary-color) , var(--secundary-color));
  width: 604px;
  height: 465px;
  border-radius: 14px;
  flex-wrap: wrap;
  align-items: center;
}

.downloadbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.imgbutao {
  width: 200px;
}

.baixarcurriculo {
  display: flex;
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 41px;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
}

.TextoFerramentas {
  background: -webkit-linear-gradient(#F2D3AB, #FE5ED0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ferramentas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
  position: relative;
  top: 85px;
  left: 65px;
}

.guiferramenta {
  position: absolute;
}

.foto {
  width: 25%;
  padding-top: 20px;
}
.tool {
  opacity: 0.5;
}
.tool:hover {
  opacity: 1.0;
  filter: brightness(120%);
}
img {
  pointer-events: none;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(200, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}