@import 'tailwindcss';
@plugin 'daisyui';

:root {
    font-family: "Inter", sans-serif;
    --Primary-color: #051F39;
    --Secundary-color: #0E2046;
    --Terciary-color: #79A3FC;
    background-color: var(--Primary-color);
}