@import 'tailwindcss';
@plugin 'daisyui';

:root {
    font-family: "Inter", sans-serif;
    --Primary-color: #051F39;
    --Secundary-color: #0E2046;
    --Terciary-color: #79A3FC;
    background-color: var(--Primary-color);
}
@theme {
    --animate-page_header: page_header_bounce 1s ease-in-out ;
    @keyframes page_header_bounce {
        0%, 100% {
            transform: none;
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        10%, 50% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    --animate-programming_anim: programming_anim 0.5s ease-in-out ;
    @keyframes programming_anim {
        0% {
            scale: 0;
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        100% {
            scale: 100%;
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
}
