* {
    font-family: Roboto;
    font-size: 24px;
}

:root {
    --primary-color: #051F39;
    --secundary-color: #0E2046;
    --terciary-color: #79A3FC;
    --quaternary-color: #354d80;
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--terciary-color);
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--quaternary-color);
    border-radius: 30px;
}

.bg_projetos {
    background-color: var(--secundary-color);
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--terciary-color);
}

.go_back {
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;
    background: var(--quaternary-color);
    width: 16px;
    height: 16px;
    border-radius: 10px;
    padding: 16px;
    color: white;
    margin-bottom: 1%;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.go_back > i {display: block;position: absolute;left: 25%;bottom: 25%;margin: auto;}

.go_back:hover {
    background: #79A3FC;
}

.project_container {
    width: 450px;
    height: 420px;
    background-color: var(--primary-color);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: var(--terciary-color);
}
.project_container > img {
    width: auto;
    height: 300px;
    margin: auto;
    border-radius: 20px;
}

.project_row {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    align-items: center;
    gap: 3.5rem;
}

.link_project {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--quaternary-color);
    border-style: solid;
    border-color: var(--terciary-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.link_project:hover {
    background-color: var(--terciary-color);
    border-color: var(--primary-color);
}

.projects_container_row {
    width: 1000px;
    display: flex;
    gap: 2px;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
        
    .project_container {
        width: 380px;
        height: 380px;
        background-color: var(--primary-color);
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 50px;
        border-style: solid;
        border-color: var(--terciary-color);
    }
    .project_container > img {
        width: auto;
        height: 252px;
        margin: auto;
        border-radius: 20px;
    }
    
    .project_row {
        width: 350px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: auto;
        align-items: center;
        gap: 1rem;
    }
    
    .link_project {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background-color: var(--quaternary-color);
        border-style: solid;
        border-color: var(--terciary-color);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .link_project:hover {
        background-color: var(--terciary-color);
        border-color: var(--primary-color);
    }
    
    .projects_container_row {
        width: 900px;
        display: flex;
        gap: 2px;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 780px) {
        
    .project_container {
        width: 380px;
        height: 380px;
        background-color: var(--primary-color);
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 50px;
        border-style: solid;
        border-color: var(--terciary-color);
    }
    .project_container > img {
        width: auto;
        height: 252px;
        margin: auto;
        border-radius: 20px;
    }
    
    .project_row {
        width: 350px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: auto;
        align-items: center;
        gap: 1rem;
    }
    
    .link_project {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background-color: var(--quaternary-color);
        border-style: solid;
        border-color: var(--terciary-color);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .link_project:hover {
        background-color: var(--terciary-color);
        border-color: var(--primary-color);
    }
    
    .projects_container_row {
        width: fit-content;
        display: flex;
        gap: 2px;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
}

* {
    font-family: Roboto;
    font-size: 24px;
}

:root {
    --primary-color: #051F39;
    --secundary-color: #0E2046;
    --terciary-color: #79A3FC;
    --quaternary-color: #354d80;
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--terciary-color);
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--quaternary-color);
    border-radius: 30px;
}

.bg_projetos {
    background-color: var(--secundary-color);
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--terciary-color);
}

.go_back {
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;
    background: var(--quaternary-color);
    width: 16px;
    height: 16px;
    border-radius: 10px;
    padding: 16px;
    color: white;
    margin-bottom: 1%;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.go_back > i {display: block;position: absolute;left: 25%;bottom: 25%;margin: auto;}

.go_back:hover {
    background: #79A3FC;
}

.project_container {
    width: 450px;
    height: 420px;
    background-color: var(--primary-color);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: var(--terciary-color);
}
.project_container > img {
    width: auto;
    height: 300px;
    margin: auto;
    border-radius: 20px;
}

.project_row {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    align-items: center;
    gap: 3.5rem;
}

.link_project {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--quaternary-color);
    border-style: solid;
    border-color: var(--terciary-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.link_project:hover {
    background-color: var(--terciary-color);
    border-color: var(--primary-color);
}

.projects_container_row {
    width: 1000px;
    display: flex;
    gap: 2px;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
        
    .project_container {
        width: 380px;
        height: 380px;
        background-color: var(--primary-color);
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 50px;
        border-style: solid;
        border-color: var(--terciary-color);
    }
    .project_container > img {
        width: auto;
        height: 252px;
        margin: auto;
        border-radius: 20px;
    }
    
    .project_row {
        width: 350px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: auto;
        align-items: center;
        gap: 1rem;
    }
    
    .link_project {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background-color: var(--quaternary-color);
        border-style: solid;
        border-color: var(--terciary-color);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .link_project:hover {
        background-color: var(--terciary-color);
        border-color: var(--primary-color);
    }
    
    .projects_container_row {
        width: 900px;
        display: flex;
        gap: 2px;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px) {
        
    .project_container {
        width: 350px;
        height: 350px;
        background-color: var(--primary-color);
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 50px;
        border-style: solid;
        border-color: var(--terciary-color);
    }
    .project_container > img {
        width: auto;
        height: 233px;
        margin: auto;
        border-radius: 20px;
    }
    
    .project_row {
        width: 330px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: auto;
        align-items: center;
        gap: 1rem;
    }
    
    .link_project {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background-color: var(--quaternary-color);
        border-style: solid;
        border-color: var(--terciary-color);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .link_project:hover {
        background-color: var(--terciary-color);
        border-color: var(--primary-color);
    }
    
    .projects_container_row {
        width: fit-content;
        display: flex;
        gap: 2px;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 380px) {
        
    .project_container {
        width: 310px;
        height: 310px;
        background-color: var(--primary-color);
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 50px;
        border-style: solid;
        border-color: var(--terciary-color);
    }
    .project_container > img {
        width: auto;
        height: 202px;
        margin: auto;
        border-radius: 20px;
    }
    
    .project_row {
        width: 290px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: auto;
        align-items: center;
        gap: 0.2rem;
    }
    
    .link_project {
        display: flex;
        width: 45px;
        height: 45px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background-color: var(--quaternary-color);
        border-style: solid;
        border-color: var(--terciary-color);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .link_project:hover {
        background-color: var(--terciary-color);
        border-color: var(--primary-color);
    }
    
    .projects_container_row {
        width: fit-content;
        display: flex;
        gap: 2px;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
}